<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AWC.DigitalCommerce.TicketsController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AWC.DigitalCommerce.TicketsController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<AWC.DigitalCommerce.TicketsController.Properties.Settings>
   <setting name="SerilogRootPath" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Serilog</value>
   </setting>
   <setting name="RequestPIN" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TicketPrinter" serializeAs="String">
    <value>Microsoft Print to PDF</value>
   </setting>
   <setting name="KitchenPrinter" serializeAs="String">
    <value>Microsoft Print to PDF</value>
   </setting>
   <setting name="VirtualNumericKeyboardActive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VirtualAlphaKeyboardActive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TranslationDictionary" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\AWC.DigitalCommerce.TicketsController.json</value>
   </setting>
   <setting name="ReportsRepository" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckItemMinimum" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MaxNumOpenTicketsPerCustomer" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="DebugTrace" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OldTicketsDate" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowCustFreqItemsPopUp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CanDeleteItemsFromTicket" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="QRImage" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Images\QR_Memos_Pub.png</value>
   </setting>
   <setting name="TicketLength" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TicketWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="SINPELogo" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Images\SINPEsml.png</value>
   </setting>
   <setting name="KitchenLeasingService" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QuickOrderCustID" serializeAs="String">
    <value>1004</value>
   </setting>
   <setting name="ServiceFeeLogo" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Images\ServiceFee.PNG</value>
   </setting>
   <setting name="SplitTicketCustID" serializeAs="String">
    <value>1003</value>
   </setting>
   <setting name="DisplayUpdateSalesSummary" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FoodServiceLogo" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Images\FoodService.png</value>
   </setting>
   <setting name="DatabaseBackupLocation" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\MSSQL\Backup</value>
   </setting>
   <setting name="DatabaseBackupExpiration" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="DatabaseBackupDayOfWeek" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UseNickNames" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="wpfMainWIndowMaximized" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AllowHigherPaymentWithCreditCardOrTransfer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KitchenPrinterCopies" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AIDAwareBanner" serializeAs="String">
    <value>AIDAware Consultancies</value>
   </setting>
   <setting name="eMailDistributionList" serializeAs="String">
    <value>guillermoegrillo@outlook.com</value>
   </setting>
   <setting name="PrintMaxNumOpenTicketsPerCustomer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CreditLimitByDefault" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AllowNewTicketOverCreditLimit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RestoBarAdvActive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TicketHeaderWH" serializeAs="String">
    <value>190,80</value>
   </setting>
   <setting name="WorkStationType" serializeAs="String">
    <value>MASTER</value>
   </setting>
   <setting name="NumOfCustomerFrequentItems" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="GenerateXMLforTicket" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeletedID" serializeAs="String">
    <value>1002</value>
   </setting>
   <setting name="PrintFullDetailInDailyClose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DBMasterKey" serializeAs="String">
    <value>AWCDIGITALCOMMERCE</value>
   </setting>
   <setting name="ApplyZeroToItemSoldAtInventory" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OldTicketID" serializeAs="String">
    <value>2002</value>
   </setting>
   <setting name="StartAlarmsThread" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TicketsControllerDbConn" serializeAs="String">
    <value>Server=DESKTOP-R3LB5K0;Database=AWCDigitalCommerce;User Id=sa;Password=sa;</value>
   </setting>
   <setting name="BartenderPrinter" serializeAs="String">
    <value />
   </setting>
   <setting name="UncollectibleAccount" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="AllowBlindDailyClosing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsProgressBarIndeterminateActive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintClosedTicketQuestion" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintKitchenOrderHigherThan" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BCCRWebService" serializeAs="String">
    <value>https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx</value>
   </setting>
   <setting name="BusinessLogo" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\Images\RinconDelRobalo-BW.png</value>
   </setting>
   <setting name="BusinessName" serializeAs="String">
    <value>RESTOBAR PIMENTÓN</value>
   </setting>
   <setting name="BusinessID" serializeAs="String">
    <value />
   </setting>
   <setting name="BusinessPhoneNumber" serializeAs="String">
    <value>TELÉFONO 2234-5628</value>
   </setting>
   <setting name="BusinessAddress1" serializeAs="String">
    <value>ZAPOTE</value>
   </setting>
   <setting name="BusinessAddress2" serializeAs="String">
    <value>FRENTE AL REGISTRO NACIONAL</value>
   </setting>
   <setting name="UsePrefixPopup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseCashDrawer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BartenderOrderTickInSeconds" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="PrintTicketRemotely" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NwsApiBaseUrl" serializeAs="String">
    <value>https://api.weather.gov</value>
   </setting>
   <setting name="UseBartenderOrdersMonitor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TopLeftOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PrintTicketFooter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplicationTitle" serializeAs="String">
    <value>Tickets Controller</value>
   </setting>
   <setting name="ATVToken" serializeAs="String">
    <value>HYM256CRV859PERT78</value>
   </setting>
   <setting name="ATVActivityCode" serializeAs="String">
    <value>552004</value>
   </setting>
   <setting name="ATVClientCode" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="ATVEndpointToSend" serializeAs="String">
    <value>https://rcfacturas.com/MASTER/Net/facturas/ </value>
   </setting>
   <setting name="ATVApplyFee" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ATVEndpointToQuery" serializeAs="String">
    <value>https://rcfacturas.com/MASTER/Net/info/</value>
   </setting>
   <setting name="ATVElectronicTicket" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplyServiceFee" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SendAlertIfTicketIsHigherThan" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="NumberOfItemsPerBucket" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="DisplayCurrentDateTime" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintSINPETicket" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PowerUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StoreInternalOrders" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CocktailRecipesPath" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\CocktailRecipes</value>
   </setting>
   <setting name="ChatGPTActive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NumberOfMostRequestedItems" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="PrintBusinessLogo" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GetDailyQuote" serializeAs="String">
    <value>https://zenquotes.io/api/today</value>
   </setting>
   <setting name="CashOnDrawer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SendAlert2AdminAboutVIP" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintDailyClosingReport" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VoucherExpirationRange" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="DailyAccountantReport" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AccountantEmail" serializeAs="String">
    <value>guillermoegrillo@outlook.com</value>
   </setting>
   <setting name="DetailOfMealOrderInVertical" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TicketsControllerCredentials" serializeAs="String">
    <value>C:\AWC.DigitalCommerce\AWC.DigitalCommerce.TicketsControllerCredentials.json</value>
   </setting>
   <setting name="SMTPServer" serializeAs="String">
    <value>smtp.gmail.com</value>
   </setting>
   <setting name="SMTPPort" serializeAs="String">
    <value>587</value>
   </setting>
   <setting name="SMTPFromAddress" serializeAs="String">
    <value>aidawareconsultancies@gmail.com</value>
   </setting>
   <setting name="SMTPPassword" serializeAs="String">
    <value>surbwzssxdmnvvvk</value>
   </setting>
  </AWC.DigitalCommerce.TicketsController.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<AWC.DigitalCommerce.TicketsController.Properties.Settings>
   <setting name="AllowTicketSummary" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CashRegisterOpening" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BusinessDate" serializeAs="String">
    <value>20220428</value>
   </setting>
   <setting name="WhoOpen" serializeAs="String">
    <value>12345</value>
   </setting>
   <setting name="PrintClosedTicket" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PrintOrder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="USDollarExchangeRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PrintSummaryWithDetail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WeeklyBackupSent" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Shift" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ShiftForQuery" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UltraQuickSale" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WhoOpenName" serializeAs="String">
    <value />
   </setting>
  </AWC.DigitalCommerce.TicketsController.Properties.Settings>
	</userSettings>
</configuration>
